@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  /**
     * colors
     */
  --color-teal: hsl(180, 100%, 25%);
  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /**
     * typography
     */

  /**
     * transition
     */

  --transition: 0.25s ease;

  /**
     * spacing
     */

  --section-padding: 100px;

  /**
     * shadow
     */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

* {
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

address {
  font-style: normal;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
  font-family: "Itim", cursive;
}
