@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  /**
     * colors
     */
  --color-teal: hsl(180, 100%, 25%);
  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /**
     * typography
     */

  /**
     * transition
     */

  --transition: 0.25s ease;

  /**
     * spacing
     */

  --section-padding: 100px;

  /**
     * shadow
     */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

* {
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* cabin */
/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 400 to 700 */

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans {
  font-family: "Open sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

address {
  font-style: normal;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
  font-family: "Itim", cursive;
}

h1 {
  font-size: 2.4rem;
  line-height: 3rem;
}
h2 {
  font-size: 2.0rem;
  line-height: 3rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 3rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 3rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 3rem;
}

.box-shadow-cool {
  --bg: initial;
  box-shadow: 0px -3px 10px 2px rgb(255, 216, 45),
    4px -2px 10px 2px rgb(252, 44, 44), 0px 4px 10px 5px rgb(69, 82, 255),
    -4px 4px 10px 2px rgb(29, 255, 96);
  transition: box-shadow 100ms;
  cursor: pointer;
}

.box-shadow-cool:active {
  box-shadow: none;
}

/* Components for tailwind class */
@layer components {
  .grid-card {
    @apply rounded-sm flex justify-self-center flex-col items-center bg-[var(--translucent)] backdrop-blur-md border-b-2 border-r-2 border-[#fff3] overflow-hidden;
  }
  .clip-text {
    @apply text-transparent bg-clip-text bg-gradient-to-bl from-primary to-primary-light;
  }

  .testimonial-card {
    @apply;
  }
  .backdrop-filter {
    @apply bg-[var(--translucent)] backdrop-blur-md border-b border-[#fff2];
  }
  .btn {
     @apply flex items-center justify-center px-6 md:px-8 py-3 select-none cursor-pointer  transition-shadow duration-150;
  }
  .btn-primary {
    @apply bg-gradient-to-bl from-yellow-700 to-red-500 text-light transition-[background] md:text-sm;
  }
  .btn-neon {
    @apply box-shadow-cool;
  }
  .btn-neu-bevel {
    @apply btn rounded-full border-[1px] flex text-xs min-w-fit shadow-bevel;
  }
  .btn-neu-pop {
    @apply btn rounded-full flex text-xs min-w-fit shadow-pop;
  }
  .card-skew {
    @apply -skew-x-6;
  }
}

button.bevel {
  box-shadow: 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7),
    inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}
